.search-form-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hwb(240 19% 29% / 0.906);
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-input {
  height: 40px;
  width: 350px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: 0px;
  padding: 10px;
}

.search-button {
  height: 40;
  width: 40px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.photo-card {
  display: flex;
  align-items: center;
}

.info {
  display: flex;
  align-items: center;

  /* gap: 5px; */
}

.info-item {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
